/* 
|------------------------------------------------------------------------------
|CSS external stylesheet file.
|This file contains all pages css external styles e.g. Home Page etc... 
|******************************************************************************
|GENERAL PAGE LAYOUT
|------------------------------------------------------------------------------
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: lavender;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p, label {
  color: #555;
}
/* 
|-------------------------------------------------------------------------------
|HEADER:-APPLIED TO ALL PAGES.
|Top Header Section.
|-------------------------------------------------------------------------------
*/
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  background: darkcyan;
  color: white;
}
@media (max-width: 786px){
  header{
  flex-direction: column;
  }
  }
header .info{
  display: flex;
  flex-wrap: wrap;
}
header .info li{
list-style: none;
padding: 0 8px;
}
header .info li a{
  color: wheat;
  text-decoration: underline;
  white-space: nowrap;
}
header .brand-name{
  display: flex;
  justify-content: start;
  align-items: center;
}
header .brand-name .logo a{
text-decoration: none;
}
header .brand-name img{
  width: 70px;
  margin: auto 1rem;
  border-radius: 3px;
  
}
/* 
|------------------------------------------------------------------------------- 
|Navigation Section.
|-------------------------------------------------------------------------------
*/
nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid darkcyan;
  border-bottom: 2px solid darkcyan;
  padding: 8px 2px;
  position: sticky;
  top: -1px;
  background: lavender;
  z-index: 1;
}
nav ul{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 786px){
nav ul{
flex-direction: column;
max-height: 45vh;
}
}
nav ul .active{
  color: darkblue;
  text-decoration: underline;
}
nav ul li{
  padding: 2px 4px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: darkcyan;
  font-weight: 600;
}
nav ul li a:hover{
  color: blue;
}
/* 
|-------------------------------------------------------------------------------
|HOME PAGE
|Home Image section.
|-------------------------------------------------------------------------------
*/
.home-bgimg{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-bgimg img{
 max-width: 50%; 
}
.more-info{
background: darkblue;
padding: 8px;
}
/* 
|-------------------------------------------------------------------------------
|marquee, Moving Text
|-------------------------------------------------------------------------------
*/
.more-info marquee{
  color: white;
  font-weight: 600;
}
/* 
|-------------------------------------------------------------------------------
|Detail Section.
|-------------------------------------------------------------------------------
*/
.institute-detail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.institute-detail .content{
max-width: 70%;
background: white;
padding: 10px;
box-shadow: inset;
margin-top: 4%;
margin-bottom: 5%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.institute-detail .content p{
  padding: 10px;
  font-size: 17px;
  line-height: 2rem;
  color: #555;
}
/* 
|-------------------------------------------------------------------------------
|The goals of the institute.
|-------------------------------------------------------------------------------
*/
.institute-goals{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 5%;
}
.institute-goals .flex-item{
  display: flex;
  flex-basis: 360px;
  flex-direction: column;
  background: #fff;
  padding: 12px;
  height: max-content;
  line-height: 1.5rem;
  color: #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.institute-goals h4{
color: darkblue;
padding: 4px;
}
.institute-goals ol li{
  list-style: none;
}
/* 
|-------------------------------------------------------------------------------
|Timeline-info archivements.
|-------------------------------------------------------------------------------
*/
.achievements-info h4{
text-align: center;
margin-bottom: 1rem;
}
.timeline-info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 5%;
}
.timeline-info .flex-item{
  display: flex;
  flex: 1;
  flex-direction: column;
  text-transform: uppercase;
  background: #fff;
  max-width: 260px;
  padding: 12px;
  line-height: 1.5rem;
  color: #555;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid darkblue;
}
.timeline-info .flex-item h4{
  color: darkcyan;
  font-weight: 600;
}
.timeline-info .flex-item p{
  color: #000;
  font-weight: 600;
}
/* 
|-------------------------------------------------------------------------------
|Service Section.
|-------------------------------------------------------------------------------
*/
.services{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 5%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.services .image-item{
  position: relative;
  overflow: hidden;
  border-radius: 0;
  text-align: center;
}
.services img{
  transition: transform 0.3s;
}

.services .image-item:hover img {
  transform: scale(1.1);
}
.services .description{
  width: 600px;
}
.services .description h1{
  color: darkblue;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.services .description p{
  line-height: 1.5rem;
  color: #555;
}
.services .description button{
  border: none;
  outline: none;
  background: darkcyan;
  padding: 4px 8px;
  margin-top: 1rem;
}
.services .description button a{
  color: #fff;
  text-decoration: none;
}
/* 
|-------------------------------------------------------------------------------
|MANAGEMENT PAGE
|management Section.
|-------------------------------------------------------------------------------
*/
.management .container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.management h2 {
  margin: 0 0 20px;
  font-size: 20px;
  color: darkblue;
}
.management h3 {
  margin: 0 0 10px;
  font-size: 17px;
  color: darkcyan;
}

.management .management-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.management .management-member {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}
.management .management-member p:nth-child(even){
  color: #222222;
 margin-bottom: 1rem;
}
/* 
|-------------------------------------------------------------------------------
|ADMISSION PAGE
|Admission Section.
|-------------------------------------------------------------------------------
*/
.admission .offline-application{
  text-align: center;
  color: #555;
  padding: 2px;
  margin: 1rem 0;
  position: sticky;
  top: 6%;
  background: lavender;
  z-index: 1;
  padding: 10px;
}
.admission small{
  color: brown;
}
.admission h4 {
  text-align: center;
  color: darkcyan;
  padding: 2px;
  margin: 1rem 0;
}
.admission .flex-items{
  display: flex;
  justify-content: start;
  align-items: normal;
  flex-wrap: wrap;
  gap: 1rem;
}
.admission .flex-items fieldset{
  width: 40%;
  margin: 0 auto;
}

.admission form {
  background-color: #fff;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admission fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admission legend {
  font-weight: bold;
  font-size: 1em;
  color: darkcyan;
}

.admission label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.admission input[type="text"],
.admission input[type="email"],
.admission input[type="tel"],
.admission input[type="number"],
.admission input[type="date"],
.admission textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.admission input[type="checkbox"] {
  margin-right: 5px;
}

.admission input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 4%;
  text-align: center;
}

.admission input[type="submit"]:hover {
  background-color: #258cd1;
}
/* 
|-------------------------------------------------------------------------------
|ACADEMIC PAGE
|Department Section.
|-------------------------------------------------------------------------------
*/
.departments{
background: #fff;
width: 70%;
margin: 5% auto;
padding: 10px;
border-top: 2px solid darkcyan;
border-bottom: 2px solid darkcyan;
}
.departments h4{
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 4px 0;
}
.departments ul{
  padding: 10px;
  border-left: 2px solid darkcyan;
}
.departments ul li{
  list-style: none;
  padding: 10px;
}
.departments ul li a{
  text-decoration: none;
}
/* 
|-------------------------------------------------------------------------------
|GALLERY PAGE
|Gallery Section.
|-------------------------------------------------------------------------------
*/
.gallery .container {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery .container h2 {
  margin: 0 0 20px;
  font-size: 20px;
  color: darkblue;
}

.gallery .container .image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.gallery .container .image-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  object-fit: cover;
  height: 30vh;
}

.gallery .container .image-item img {
 width: 100%;

  height: auto;
  display: block;
  transition: transform 0.3s;
}

.gallery .container .image-item:hover img {
  transform: scale(1.1);
}

.gallery .container .image-title {
  margin: 10px 0;
}
/* 
|-------------------------------------------------------------------------------
|E-LEARNING LOGIN PAGE
|e-learning Section.
|-------------------------------------------------------------------------------
*/
.e-learning{
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.e-learning .login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex: 1;
  flex-wrap: wrap;
}

.e-learning .logo {
  width: 50%;
  text-align: center;
}

.e-learning .logo img {
  max-width: 100%;
}

.e-learning .login-form {
  width: 40%;
  text-align: justify;
}

.e-learning h3 {
  margin: 0 0 20px;
}

.e-learning label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.e-learning input[type="text"],
.e-learning input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.e-learning input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.e-learning input[type="submit"]:hover {
  background-color: #258cd1;
}

.e-learning .forgot-password {
  text-align: left;
}

.e-learning .forgot-password a {
  text-decoration: none;
  color: #3498db;
}

.e-learning .remember-me {
  text-align: left;
  margin-top: 10px;
}

.e-learning .dont-have-account {
  text-align: left;
  margin-top: 20px;
}
/* 
|-------------------------------------------------------------------------------
|HELP PAGE
|Help Section.
|-------------------------------------------------------------------------------
*/
.help .container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.help h4 {
  margin: 0 0 20px;
}
.help h3 {
  font-size: 16px;
  margin:20px;
}

.help p {
  line-height: 1.5;
}
/* 
|-------------------------------------------------------------------------------
|STUDENTS PORTAL LOGIN PAGE
|portal-login Section.
|-------------------------------------------------------------------------------
*/
.portal-login{
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.portal-login .login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}


.portal-login .logo img {
  max-width: 100%;
}

.portal-login .login-form {
  width: 70%;
  text-align: justify;
}

.portal-login h3 {
  margin: 0 0 20px;
}

.portal-login label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.portal-login input[type="text"],
.portal-login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.portal-login input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.portal-login input[type="submit"]:hover {
  background-color: #258cd1;
}

.portal-login .forgot-password {
  text-align: left;
}

.portal-login .forgot-password a {
  text-decoration: none;
  color: #3498db;
}

.portal-login .remember-me {
  text-align: left;
  margin-top: 10px;
}

.portal-login .dont-have-account {
  text-align: left;
  margin-top: 20px;
}

/* 
|--------------------------------------------------------------------------------------
|COURSE PAGES-[Mathematics || Marketing || Sociology || ComputerScience || Economics
               English]
|courses section.
|--------------------------------------------------------------------------------------
*/
.courses-section .container {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.courses-section .course-description {
  text-align: justify;
  border-right: 2px solid #ddd;
  padding: 10px;
}
.courses-section h1 {
  font-size: 20px;
  color: darkblue;
}
.courses-section h4 {
  margin-top: 1rem;
  font-size: 18px;
}
.courses-section p {
  margin-top: 1rem;
}

.courses-section .teacher-timetable {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.courses-section .teacher-timetable h1{
  margin-bottom: 1rem;
  font-size: 20px;
  color: darkblue;
}
.courses-section .teacher-timetable h4{
  margin-bottom: 1rem;
  font-size: 18px;
}

.courses-section .teacher-list {
  list-style: none;
  padding: 0;
}

.courses-section .teacher-list li {
  margin-bottom: 10px;
}

.courses-section .timetable {
  width: 100%;
  border-collapse: collapse;
}

.courses-section .timetable th, .timetable td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.courses-section .timetable th {
  background-color: #ddd;
  color: darkcyan;
}
/* 
|-------------------------------------------------------------------------------
|ABOUT US PAGE
|About Section.
|-------------------------------------------------------------------------------
*/
.aboutUs .container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.aboutUs  h2 {
  margin: 0 0 20px;
  font-size: 20px;
  color: darkblue;
}

.aboutUs  p {
  line-height: 1.5;
}

.aboutUs  .history-section {
  margin-bottom: 20px;
}

.aboutUs  .team-section {
  margin-bottom: 20px;
}
.aboutUs  .team-section .team-members{
  display: flex;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.aboutUs  .team-member {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0 auto;
}

.aboutUs  .team-member img {
  max-width: 32%;
  border-radius: 50%;
}
.aboutUs  .team-member h5{
  color: darkcyan;
  padding: 4px 0;
}
/* 
|-------------------------------------------------------------------------------
|SUNDAY SERVICE PAGE
|service Section.
|-------------------------------------------------------------------------------
*/
.sundayService h1 {
  text-align: center;
  color: darkblue;
  margin: 1% auto;
}

.service-container {
  display: flex;
  justify-content: space-around;
  margin: 1% auto;
}
.service-container h2{
  color: darkcyan;
  font-size: 17px;
  margin-bottom: 1rem;
}

.service {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 10px;
}

.service img {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* 
|-------------------------------------------------------------------------------
|CONTACT US PAGE
|contact us Section.
|-------------------------------------------------------------------------------
*/
.contactus-link.vertical-text {
  position: fixed;
  right: -1%;   
  top: 50%; 
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform-origin: top right; 
  background-color: darkcyan;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}
.contactUs .container {
  max-width: 60%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contactUs h3 {
  margin: 0 0 1rem;  margin: 0 0 1rem;
  color: darkblue;
}
.contactUs p{
  color: #555;
  padding: 4px;
  margin: 0 0 1rem;
}

.contactUs label {
  font-weight: bold;
}

.contactUs input[type="text"],
.contactUs input[type="email"],
.contactUs textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contactUs textarea {
  height: 150px;
}

.contactUs input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contactUs input[type="submit"]:hover {
  background-color: #258cd1;
}
/* 
|-------------------------------------------------------------------------------
|FOOTER:-APPLIED TO ALL PAGES.
|Footer Section.
|-------------------------------------------------------------------------------
*/
.footer{
  background: #000;
}
.footer .footer-top{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 10px;
  background: #fff;
}
.footer .footer-top .flex-items{
  min-width: 30%;
  max-width: 33%;
  background: #fff;
  padding: 12px;
  line-height: 1.5rem;
  color: #555;
}
.footer .footer-top .flex-items h4{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.footer .footer-top .flex-items ul li{
  list-style: none;
}
.footer .footer-top .flex-items ul li a{
  color: darkcyan;
  text-decoration: none;
  font-weight: 500;
  padding-top: 4px;
}
.footer .footer-top .flex-items ul li a:hover{
  color: blue;
  padding-left: 4px;
  transition: all ease-in-out;
}
.footer .footer-bottom{
display: flex;
justify-content: space-between;
align-content: center;
flex-wrap: wrap;
padding: 2% 10px;
color: lavender;
}
.footer form{
  margin: auto;
  max-width: 700px;
  display: grid;
}
.footer form input{
outline: none;
border: 1px solid darkcyan;
padding: 8px;
border-radius: 4px;
}
.footer form button{
outline: none;
border: 1px solid darkcyan;
background: darkcyan;
color: lavender;
max-width: 250px;
cursor: pointer;
padding: 8px;
border-radius: 4px;
}
.footer .footer-bottom .follow-us{
display: flex;
align-content: center;
justify-content: center;
}
.footer .footer-bottom .follow-us a{
  text-decoration: none;
  margin: 0 8px;
  color: #fff;
  background: darkcyan;
  padding: 2px 4px;
  border-radius: 50%;
}
